@import "../../global.scss";

.text-animation {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  overflow: hidden;

  @include mobile {
    display: inline-block;
    opacity: 1;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
    overflow: hidden;
  }
}

.text-animation-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  overflow: hidden;

  &:hover {
    animation: rubberBand 1s;
    color: #8b7f7f;
  }
}

@for $i from 1 through 45 {
  .text-animation._#{$i} {
    animation-delay: #{$i / 10}s;
  }
} ;
