.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;

  h1 {
    font-size: 50px;
    font-family: "Fascinate", cursive;
    color: #8b7f7f;
    font-weight: 400px;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: 10px;
    overflow: hidden;
  }

  ul {
    margin: 7px 10px;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;
  }

  .project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: hidden;

    .item {
      width: 280px;
      height: 180px;
      border: 20px;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: all 0.6s ease;
      opacity: 0;
      animation: fadeInUp 2s 1s;
      animation-fill-mode: forwards;
      overflow: hidden;

      h3 {
        position: absolute;
        font-size: 20px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      &:hover {
        background-color: #c9b294;
        color: white;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
