@import "../../global.scss";
.container {
  display: flex;

  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;
  @include mobile {
    top: 20px;
  }

  h1 {
    font-size: 50px;
    font-family: "Fascinate", cursive;
    color: #8b7f7f;
    font-weight: 400px;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: 10px;
    overflow: hidden;

    @include mobile {
      font-size: 30px;
      // display: block;
      // overflow: hidden;
    }
  }

  ul {
    margin: 7px 10px;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;

    @include mobile {
      margin: 4px 7px;
      font-size: 16px;
    }
  }

  .project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: hidden;

    @include mobile {
      margin-top: 5px;
    }

    .item {
      width: 280px;
      height: 180px;
      border: 20px;
      margin: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: all 0.6s ease;
      opacity: 0;
      animation: fadeInUp 2s 1s;
      animation-fill-mode: forwards;
      overflow: hidden;

      @include mobile {
        width: 180px;
        height: 120px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        overflow: hidden;
        bottom: 60%;

        @include mobile {
          font-size: 15px;
        }
      }

      h4 {
        position: absolute;
        font-size: 10px;
        overflow: hidden;
        top: 55%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        left: 5%;
        right: 5%;
        // color: #000;

        @include mobile {
          font-size: 5px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      &:hover {
        background-color: #c9b294;
        color: white;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
.project-items {
  overflow: hidden;

  button {
    animation: fadeInUp 3s 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-right: 20px;
    float: right;
    border: 1px solid #8b7f7f;
    color: #fff;
    background-color: #cebda8;
  }
}
