li {
  font-size: 17px;
  margin-right: 50px;
  font-weight: Bold;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: fadeInUp 2s 1s;
  animation-fill-mode: forwards;

  &:hover {
    color: #c9b294;
  }

  &.active {
    background-color: #c9b294;
    color: white;
  }
}
