.layout {
  height: 100vh;
  background-color: antiquewhite;
  width: 100%;

  .group {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}

// .lay-container {
//   width: 100%;
//   // will-change: contents;
//   // height: 90%;
//   // min-height: 565px;
//   position: relative;
//   // top: 2%;
//   margin: 0 auto;
//   // z-index: 1;
// transform-style: preserve-3d;
// animation: fadeIn 1s forwards;
// animation: delay 1s;
// }
