.layout {
  height: 100vh;
  background-color: antiquewhite;

  .group {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 565px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation: delay 1s;
}

// .about,
// .contact,
// .project {
//   .text-container {
//     position: absolute;
//     left: 10%;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 35%;
//     vertical-align: middle;
//     display: table-cell;
//     max-height: 90%;

//     h1 {
//       font-size: 50px;
//       font-family: "Fascinate", cursive;
//       color: #8b7f7f;
//       font-weight: 400px;
//       margin-top: 0;
//       position: relative;
//       margin-bottom: 40px;
//       left: 10px;
//     }

//     p {
//       font-size: 13px;
//       color: #fff;
//       font-family: sans-serif;
//       font-weight: 350;
//       min-width: fit-content;
//       animation: pulse 1s;

//       &:nth-of-type(1) {
//         animation-delay: 1.2s;
//       }

//       &:nth-of-type(2) {
//         animation-delay: 1.3s;
//       }

//       &:nth-of-type(3) {
//         animation-delay: 1.4s;
//       }
//     }
//   }
// }
