.home {
  // background-color: black;
  display: flex;
  flex-direction: row;

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 700px;
      height: 700px;

      img {
        height: 90%;
        width: 100%;
      }
    }
  }

  .right {
    flex: 0.5;
  }
}
