@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Fascinate&family=Zen+Dots&display=swap");

.home {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  .textContainer {
    position: absolute;
    left: 15%;
    top: 40%;
    letter-spacing: 2px;
    margin: 0;
    max-height: 90%;

    h1,
    h2,
    h4 {
      overflow-y: hidden;
      font-weight: 600px;
    }

    h1 {
      font-size: 60px;
      font-family: "Fascinate", cursive;
    }

    h2 {
      font-size: 30px;
      font-family: "Rubik Moonrocks", cursive;
    }

    h4 {
      font-size: 19px;
      letter-spacing: 3px;
    }
  }
  .btn {
    border: 2px solid #8b7f7f;
    letter-spacing: 1px;
    margin-top: 10px;

    &:hover {
      background-color: #fff;
    }
  }
  // }
}
