@import "../../global.scss";

.contact {
  // display: flex;
  @include mobile {
    flex-direction: column;
  }

  .text-container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    // display: table-cell;
    max-height: 90%;

    @include mobile {
      width: 100%;
      left: 0;
      padding: 10px 10px;
      // position: relative;
      // max-height: 100%;
    }

    h1 {
      font-size: 50px;
      font-family: "Fascinate", cursive;
      color: #8b7f7f;
      font-weight: 400px;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;
      overflow: hidden;

      @include mobile {
        font-size: 30px;
      }
    }

    p {
      font-size: 16px;
      color: #000;
      font-family: sans-serif;
      font-weight: 350;
      margin-left: 2%;
      min-width: fit-content;
      animation: pulse 1s;

      @include mobile {
        font-size: 12px;
        color: #000;
        font-family: sans-serif;
        font-weight: 350;
        animation: pulse 1s;
      }

      &:nth-of-type(1) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.3s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.4s;
      }
    }
  }
  .contact-form {
    width: 100%;
    margin-top: 20px;

    @include mobile {
      width: 82%;
      // height: 90%;
      // display: flex;
      // flex-direction: column;
      // margin: 10px;
    }

    ul {
      padding: 0;
      margin: 0;
      overflow: hidden;

      li {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        clear: both;

        @include mobile {
          // width: 100%;
          // height: 90%;
          margin-left: 0;
          // float: right;
          clear: both;
          padding: 5px 5px;
        }
      }

      li.form-half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin: 0;
        }
      }
    }

    input[type="text"],
    input[type="email"] {
      width: 100%;
      border: 0;
      background-color: #c9b294;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;

      @include mobile {
        // width: 0%;
        // heigh 90%;
        width: 100%;
        height: 35px;
      }
    }

    textarea {
      width: 100%;
      border: 0;
      background: #c9b294;
      height: 50px;
      font-size: 16px;
      color: #fff;
      min-height: 150px;
      padding: 0 20px;
      padding-top: 10px;
      box-sizing: border-box;

      @include mobile {
        // width: 99%;
        // float: right;
        // height: 15px;
      }
    }

    .send-button {
      color: #8b7f7f;
      background: 0 0;
      font: 11px;
      letter-spacing: 2.8px;
      text-decoration: none;
      padding: 8px 10px;
      border: 2px solid #8b7f7f;
      margin-bottom: 40px;
      // float: right;

      @include mobile {
        // height: 90%;
        float: right;
        // font: 8px;
        // padding: 5px 7px;
      }

      &:hover {
        background-color: #c9b294;
        color: #fff;
        font-weight: 800px;
      }
    }
  }

  //   .map-info {
  //     position: absolute;
  //     background-color: #000;
  //     top: 50px;
  //     right: 30%;
  //     z-index: 999999;
  //     width: 287px;
  //     padding: 20px;
  //     color: #fff;
  //     font-size: 17px;
  //     font-weight: 300;
  //     opacity: 0;
  //     animation: fadeIn 1s 1.5s;
  //     animation-fill-mode: forwards;

  //     span {
  //       font-size: 17px;
  //       display: block;
  //       padding-top: 20px;
  //       color: #c9b294;
  //     }
  //   }

  //   .map-wrapper {
  //     background-color: #9d9790;
  //     float: right;
  //     width: 53%;
  //     height: 100%;
  //   }

  //   .leaflet-container {
  //     height: 100%;
  //     width: 100%;
  //     position: relative;
  //     opacity: 0;
  //     animation: backInRight 1s 1.3s;
  //     animation-fill-mode: forwards;
  //   }
}
