.header {
  width: 100%;
  height: 70px;
  background-color: #8b7f7f;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      font-style: "Fascinate", cursive;

      a.logo {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        font-family: "Fascinate", cursive;

        .subLogo {
          font-size: 12px;
          font-weight: bold;
          margin-left: 25%;
          font-family: cursive;
          color: rgb(40, 29, 29);
        }
      }
    }

    .right {
      display: flex;

      .nav {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #000;

          &:hover {
            font-weight: 600px;
          }
        }
      }
    }
  }
}
