// header {
//   background-color: #8b7f7f;
//   width: 100%;
//   position: fixed;

//   .logo {
//     font-size: 20px;
//     margin-left: 2%;
//     font-family: "Fascinate", cursive;
//   }
//   nav {
//     ul {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-evenly;
//       font-size: 1.5em;
//       margin-left: 55%;
//       padding-bottom: 1%;
//     }
//   }
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b7f7f;
  width: 100%;
  margin: auto;

  .logo {
    font-family: "Fascinate", cursive;
  }

  nav {
    display: flex;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
