html {
  font-size: 70.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 "sans-serif";
  color: #fff;
  background-color: #0c0c58;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
